<div class="container">

  <span class="header">Pizzaria Horácio</span>

  <div id="container_demo">

    <div id="wrapper">

      <div id="comanda">

          <h1>COMANDA</h1>

          <form [formGroup]="formComanda" (ngSubmit)="onProcessar()">

            <p>
              <label>Chopp</label>
              <input type="number" name="inChopp" formControlName="Chopp"/>
            </p>
            <p>
              <label>Pizzas</label>
              <input type="number" name="inPizzas" formControlName="Pizzas"/>
            </p>
            <p>
              <label>Recheios</label>
              <input type="number" name="inRecheios" formControlName="Recheios"/>
            </p>
            <p>
              <label>Pessoas</label>
              <input type="number" name="inPessoas" formControlName="Pessoas"/>
            </p>

            <p class="keepcomanda">
            <input type="checkbox" name="inServico"/>
            <label> Taxa de Serviço</label>
            </p>

            <p class="comanda button">
              <input type="submit" value="Registrar" />
            </p>

          </form>

          <p class="about">Gabriel Oliveira</p>

      </div>
    </div>
  </div>
</div>